


.card {
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
    background-color: white;
    color: black;
    box-shadow: -5px 5px $sombra;
    border-radius: 20px;
    height: 100%;
    transition: all 1s ease;

    &_img {
        width: 70%;
        height: 100%;
        object-fit: cover;
        margin-top: 15px;
        border-radius: inherit;
    }
    &_h3{
        font-size: 2rem;
        text-align: center;
        padding: 5px;
    }
    &_p{
        text-align: justify;
        width: 80%;
        font-size: 1.5rem; 
    }

    &:hover{
        box-shadow: -10px 10px $sombra;
        border: 1px solid black;
        background-color: $cHeader;
        @include popup(10px,-10px,1s)
    }
}




