.footer {
    color: white;
    background-image: linear-gradient(to top, $cFooter, #ccc);
    font-family: 'Kdam Thmor Pro', sans-serif;
    height: 120px;
    margin-top: 50px;

    
    
    &_div:hover {
            transform: translate(-5px,5px);
            text-shadow: 1px 1px 2px $sombra;  
            transition: all ease-in-out 1s;
        }

    }

    $redessociales: (
    twitter: #55acee,
    facebook: #1877F2,
    instagram: #dd2a7b,
    linkedin:#0077b5,
    );


    @each $nombre,$color in $redessociales {
        .icon-#{$nombre}:hover{
            color: $color;
        }

    }
       