/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: $colorBody;
    position: relative;

}

.titulo{
    
    font-family: 'Noto Serif', serif;
    color: $cTitulos;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    text-align: center
    
}

.subtitulo {
    @extend .titulo;
        font-size: 2.5rem;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }


.contenedor{
    justify-content: center;
    background-color: $cContenedor;
    color:black;
    display:flex;

}

.contenedor1  {
    margin-top: 1rem;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

@mixin popup ($x,$y,$tiempo){
    transform: translate($x,$y);
    transition: all $tiempo ease-in-out;
}


a{
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
    color: black;
    &:hover {
        text-shadow: 1px 1px 2px $sombra;
        @include popup(-5px,5px,1s )
    }
}

label{
    font-size: 1.5rem;
    color: black;
}

input,select{
    @extend label;
    width: 300px;
}

.carousel-item {
    height: 70vh;
}

.carousel-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
 }