header {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    z-index: 3;
    background-image:linear-gradient(to bottom,$cHeader,#ccc);
}

.logo  {
    width: 90px;
    height: 90px;    
    box-shadow: 3px 3px $sombra;
    border-radius: 10px;
    transition: all 1s ease;
    display: flex;
    margin: 10px;
    &:hover{
        @include popup(-5px,5px,1s)

    }
}

.navbar>.container{
    justify-content: end;
    text-align: right;        
}