header {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding-top: 10px;
    z-index: 2;
    background-image:linear-gradient(to bottom,$cHeader,#ccc);
}

.logo  {
    width: 90px;
    height: 90px;    
    box-shadow: 3px 3px $sombra;
    border-radius: 10px;
    transition: all 1s ease;
    display: flex;
    &:hover{
        transform: translate(-5px,5px);
        text-shadow: 1px 1px 2px $sombra;

    }
}
