/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Work Sans', sans-serif;
  color: white;
  background-color: #C1B7EF;
  position: relative; }

.titulo, .subtitulo {
  font-family: 'Noto Serif', serif;
  color: #F3ECFF;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black;
  text-align: center; }

.subtitulo {
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;
  margin-top: 20px; }

.contenedor {
  justify-content: center;
  background-color: #ede4fcb0;
  color: black;
  display: flex; }

.contenedor1 {
  margin-top: 1rem;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center; }

a {
  text-decoration: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: 100;
  color: black; }
  a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: translate(-5px, 5px);
    transition: all 1s ease-in-out;
    color: black; }

label, input, select {
  font-size: 1.5rem;
  color: black; }

input, select {
  width: 300px; }

.carousel-item {
  height: 70vh; }

.carousel-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

header {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: 100;
  display: flex;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  z-index: 3;
  background-image: linear-gradient(to bottom, #7D79FA, #ccc); }

.logo {
  width: 90px;
  height: 90px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 1s ease;
  display: flex;
  margin: 10px; }
  .logo:hover {
    transform: translate(-5px, 5px);
    transition: all 1s ease-in-out; }

.navbar > .container {
  justify-content: end;
  text-align: right; }

.footer {
  color: white;
  background-image: linear-gradient(to top, #6BBAA3, #ccc);
  font-family: 'Kdam Thmor Pro', sans-serif;
  height: 120px;
  margin-top: 50px; }
  .footer_div:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: translate(-5px, 5px);
    transition: all 1s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.icon-twitter:hover {
  color: #55acee; }

.icon-facebook:hover {
  color: #1877F2; }

.icon-instagram:hover {
  color: #dd2a7b; }

.icon-linkedin:hover {
  color: #0077b5; }

.card {
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
  background-color: white;
  color: black;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 100%;
  transition: all 1s ease; }
  .card_img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
    border-radius: inherit; }
  .card_h3 {
    font-size: 2rem;
    text-align: center;
    padding: 5px; }
  .card_p {
    text-align: justify;
    width: 80%;
    font-size: 1.5rem; }
  .card:hover {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    background-color: #7D79FA;
    transform: translate(10px, -10px);
    transition: all 1s ease-in-out; }

.button {
  background-color: #6BBAA3;
  transition: all 1s ease; }
  .button:hover {
    background-color: #7D79FA;
    border: none;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
    transform: translate(10px, -10px); }

@media screen and (max-width: 950px) {
  .carousel-item {
    height: 70vh; } }

@media screen and (max-width: 835px) {
  h2 {
    font-size: 1.5rem; }
  .titulo, .subtitulo {
    font-size: 2.5rem; }
  .subtitulo {
    font-size: 2rem; }
  .carousel-item {
    height: 50vh; } }

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 10px;
    margin-top: 50px;
    padding-bottom: 30px; }
    .footer_div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; } }

@media screen and (max-width: 715px) {
  .card_img {
    width: 70%;
    height: auto;
    padding: 15px; }
  .card_h3 {
    max-width: 75vw;
    font-size: 1.5rem;
    display: inline-flex;
    text-align: center; }
  .card_p {
    font-size: 1.25rem;
    padding-bottom: 15px; } }

@media screen and (max-width: 625px) {
  input, select, label, input, select {
    font-size: 1rem; }
  .carousel-item {
    height: 35vh; } }

@media screen and (max-width: 430px) {
  .titulo, .subtitulo {
    font-size: 2rem; }
  .subtitulo {
    font-size: 1rem; }
  .card_img {
    width: 70%;
    height: auto;
    padding: 15px; }
  .card_h3 {
    font-size: 1.5rem;
    text-align: center; }
  .card_p {
    font-size: 1rem;
    padding-bottom: 15px; }
  .carousel-item {
    height: 25vh; } }
